build/
tools/
bin/
platform/win32/extract/Debug/
platform/win32/extract/x64/
platform/win32/.vs/
platform/win32/nx/Win32/Debug/
platform/win32/nx/Win32/Release/
platform/win32/nx/x64/Debug/
platform/win32/nx/x64/Release/
.vs/
platform/win32/nx/playerconfig.dat
platform/win32/nx/chatlog.txt
platform/win32/extract/Release